body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-image: url(/images/fases/Go4-atual.png);
    background-size: 1280px 566px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(20, 20, 20, 0.5);
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-style: bold;
    text-align: center;
    font-family:monospace;
}
