body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url(/images/fases/tela-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
}

.legenda {
    color: white;
    padding: 2%;
    text-align: center;
    animation: legenda;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes legenda {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}